<section class="servicos-page">
	<div class="parallax-container">
		<div class="parallax">
			<img src="http://www.imgworlds.com/wp-content/uploads/2015/12/generic.jpg" alt="a background" style="display: block;	transform: translate3d(-50%, 247px, 0px);">
		</div>
	</div>
  <div class="row" style="margin: 0;">
    <nav class="white-nav" style="height: 45px; line-height: 45px;">
      <div class="nav-wrapper">
        <div class="col s10 offset-s1">
          <a href="/" class="breadcrumb">Início</a>
          <a href="/servicos" class="breadcrumb">Serviço</a>
          <a href="/servicos/legislacao_do_societario" class="breadcrumb">Área Trabalhista e Social</a>
        </div>
      </div>
    </nav>
  </div>
	<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><b>Área Trabalhista e Social</b></h3>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>
    </div>
  </div>
	<div class="row" style="background-color: #f5f5f5;">
		<div class="col s12 m6">
			<img class="center-block" src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-11/512/cash-icon.png" style="max-width: 100%; max-height: 20em; ">
		</div>
		<div class="col s12 m6">
			<img class="center-block" src="http://timepayment.com/wp-content/uploads/2014/09/TimePayment-offers-more-than-just-Microticket-Equipment-Financing.png" style="max-width: 100%; max-height: 20em; ">
		</div>
	</div>
	<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Como é feito:</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section" style="background-color: #f5f5f5; padding: 3em;">
    <div class="row">
      <div class="col s6 m5 center">
        <img src="http://static2.businessinsider.com/image/52d038bbecad04090c4229cd/using-these-13-words-will-help-salespeople-close-deals-faster-and-make-tons-of-money.jpg" style="max-width: 100%">
      </div>
      <div class="col s6 m7 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>O que é:</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>
  </div>
</section>