<section class="servicos-page">
	<div class="container">
			<div class="servicos-container">
				<div class="row">
					<div class="servicos-page-titulo">Serviços que prestamos</div>
					<p class="center">A UNNICA CONTABIL, voltada a eficiência a sua atuação para com as empresas, fornecendo informações fundamentais ao desenvolvimento em todas as áreas.</p>

					<a href="/servicos/legalizacao_do_societario">
						<div class="col s12 m5 servicos-areas servicos-left center societario">
							<div class="circle">
								<img src="/assets/imgs/servico-societario-icon.png">
							</div>
							<div class="servicos-areas-titulo">Legalização do Societário</div>
							<div>
								<ul class="black-text">
									<li>Constituição, alterações, transformações e distratos de sociedades;</li>
									<li>Incorporação, cisão e fusão de sociedades;</li>
									<li>Em todos os tipos de empresas, Limitada, Individual, Eireli, Associações, Cooperativas, S.A., Sociedades Simples, Holding;</li>
								</ul>
							</div>
						</div>
					</a>
					<a href="/servicos/regularizacoes">
						<div class="col s12 m5 offset-m2 servicos-areas servicos-right center regularizacoes">
							<div class="circle">
								<img src="/assets/imgs/servico-regularizacao-icon.png">
							</div>
							<div class="servicos-areas-titulo">Regularizações</div>
							<div>
								<ul class="black-text">
									<li>Expedição de Certidões negativas no âmbito Federal, Estadual e Municipal, Cartórios, Fórum, TRT;</li>
									<li>Registro nos SICAF e SAEB;</li>
									<li>Alvarás novas e renovação, Localização, PPCI, Meio Ambiente, Sanitário, ANVISA, etc;</li>
								</ul>
							</div>
						</div>
					</a>
				</div>

				<div class="row">
					<a href="/servicos/area_contabil">
						<div class="col s12 m5 servicos-areas servicos-left center contabil">
							<div class="circle">
								<img src="/assets/imgs/servico-contabil-icon.png">
							</div>
							<div class="servicos-areas-titulo">Área Contábil</div>
							<div>
								<ul class="black-text">
									<li>Escrituração conforme normas e princípios contábeis vigentes;</li>
									<li>Elaboração de Balancetes mensais, DREs e balanços anuais;</li>
									<li>Análise gerencial dos balanços;</li>
									<li>Fluxo de caixa e projeção de gastos a partir do DRE;</li>
									<li>Escrituração externas para outros escritórios contábeis ou empresas;</li>
									<li>Especialização em Lucro Real, com LALUR, ECD e ECF anuais (IRPJ e CSSL);</li>
									<li>Livros Contábeis: DIARIO e RAZÃO;</li>
								</ul>
							</div>
						</div>
					</a>
					<a href="/servicos/area_fiscal">
						<div class="col s12 m5 offset-m2 servicos-areas servicos-right center tributaria">
							<div class="circle">
								<img src="/assets/imgs/servico-tributario-icon.png">
							</div>
							<div class="servicos-areas-titulo">Área Fiscal</div>
							<div>
								<ul class="black-text">
									<li>Análise, lançamento e apuração de impostos Federais, Estaduais e Municipais (IRPJ, CSSL, PIS, COFINS, ICMS, DESONERAÇÃO, etc.), (SIMPLES NACIONAL), (ISS);</li>
									<li>Elaboração e entrega de Obrigações, tais como, DAS, DEFIS, DCTF, SPED FISCAL, SPED EFD, DMA, GIAV8, LIVROS FISCAIS;</li>
									<li>Parcelamentos se houver: Federal, Estadual e Municipal;</li>
									<li>Assessoramento na emissão de Notas Fiscais Eletrônicas (Estaduais e Municipais);</li>
								</ul>
							</div>
						</div>
					</a>
				</div>

			<div class="row">
				<a href="/servicos/area_trabalhista">
					<div class="col s12 m5 servicos-areas servicos-left center trabalhista">
						<div class="circle">
							<img src="/assets/imgs/servico-pessoal-icon.png">
						</div>
						<div class="servicos-areas-titulo">Área Trabalhista e Social</div>
						<div>
							<ul class="black-text">
								<li>Elaboração de folha de pagamento, décimo terceiro, admissões, férias, exames médicos;</li>
								<li>Apuração de encargos e respectivas Guias (FGTS, INSS, IRRF, SINDICAIS E ASSISTENCIAIS);</li>
								<li>Elaboração das obrigações mensais e anuais, CAGED, RAIS, DIRF;</li>
								<li>Assessoria e atendimento junto a Fiscalização do trabalho e Justiça do Trabalho;</li>
								<li>Assessoria Jurídica Trabalhista, em causas judiciais;</li>
							</ul>
						</div>
					</div>
				</a>


				<a href="/servicos/imposto_de_renda">
					<div class="col s12 m5 offset-m2 servicos-areas servicos-right center imposto-renda">
						<div class="circle">
							<img src="/assets/imgs/servico-imposto-icon.png">
						</div>
						<div class="servicos-areas-titulo">Imposto de Renda</div>
						<div>
							<ul class="black-text">
								<li>Análise, orientação e controle dos dispositivos legais vigentes para pessoa física e jurídica;</li>
								<li>Preparação e revisão de Imposto de Renda;</li>
								<li>Preparação e declaração de Ganhos de Capital;</li>
								<li>Preparação e declaração de Imposto Territorial Rural;</li>
								<li>Orientação e resolução de problemas tributários, parcelamentos junto Receita Federal;</li>
								<li>Desenvolvimento de Carnê Leão mensal e anual para Profissionais Liberais;</li>
							</ul>
						</div>
					</div>
				</a>
			</div>

			<div class="row">
				<a href="/servicos/controladoria">
					<div class="col s12 m5 servicos-areas servicos-left center controladoria">
						<div class="circle">
							<img src="/assets/imgs/servico-consultoria-icon.png">
						</div>
						<div class="servicos-areas-titulo">Controladoria</div>
						<div>
							<ul class="black-text">
								<li>Análise e Avaliação de volume de operações e faturamento;</li>
								<li>Avaliação de custos e despesas;</li>
								<li>Monitorar a contabilidade fiscal;</li>
								<li>Elaborar orçamentos e previsões de negócios;</li>
								<li>Desenvolver projetos;</li>
								<li>Gerenciar a tesouraria;</li>
								<li>Acompanhar o departamento financeiro;</li>
								<li>Organizar o planejamento tributário;</li>
								<li>Participar da Previsão Orçamentária Anual (Budget);</li>
								<li>Participar do planejamento estratégico;</li>
								<li>Elaborar relatórios para tomada de decisões;</li>
							</ul>
						</div>
					</div>
				</a>

				<a href="/servicos/acessoria_juridica">
					<div class="col s12 m5 offset-m2 servicos-areas servicos-right center juridica">
						<div class="circle">
							<img src="/assets/imgs/servico-juridica-icon.png">
						</div>
						<div class="servicos-areas-titulo">Assessoria Juridica</div>
						<div>
							<ul class="black-text">
								<li>Assessoria, Consultoria e Acompanhamento de processos nas áreas Civil, Trabalhista e Previdenciário;</li>
								<li>Auditoria Tributária administrativa e jurídica, com recuperação de tributos;</li>
								<li>Recuperação Judicial;</li>
							</ul>
						</div>
					</div>
				</a>
			</div>

			<div class="row">
				<a href="/servicos/outros_servicos">
					<div class="col s12 m5 servicos-areas servicos-left center outros-servicos">
						<div class="circle">
							<img src="/assets/imgs/servico-outros-servicos-icon.png">
						</div>
						<div class="servicos-areas-titulo">Outros Serviços</div>
						<div>
							<ul class="black-text">
								<li>Consultoria para determinação da modalidade tributária (Simples Nacional, Presumido e Lucro Real), conforme atividade da empresa;</li>
								<li>Planejamento Tributário – Transmitir informações sobre regularidade Fiscal (Elisão, Evasão e Sonegação) e Fluxo de caixa fiscal;</li>
								<li>Soluções em tecnologia da Informação: Sistemas de gestão e controle (Emissão de notas fiscais, tanto como Estaduais e Municipais), Controle de compras e vendas, gestão financeira (emissão e cobrança de boletos), controle de estoques;</li>
								<li>Assessoria na implantação de sistemas informatizados;</li>
								<li>Treinamento técnicos motivadores;</li>
								<li>Gestão da documentação com arquivos em Nuvem/Digital/ Gestão Documental;</li>
								<li>Escritórios Virtuais/Web;</li>
							</ul>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>