<section class="servicos-page">
	<div class="parallax-container">
		<div class="parallax">
			<img src="http://media.dmnews.com/images/2017/11/07/deal_1322406.jpg" style="display: block;	transform: translate3d(-50%, 247px, 0px);">
		</div>
	</div>
	<div class="row" style="margin: 0;">
		<nav class="white-nav" style="height: 45px; line-height: 45px;">
	    <div class="nav-wrapper">
	      <div class="col s10 offset-s1">
	        <a href="/" class="breadcrumb">Início</a>
	        <a href="/servicos" class="breadcrumb">Serviço</a>
	        <a href="/servicos/legislacao_do_societario" class="breadcrumb">Legalização do Societário</a>
	      </div>
	    </div>
	  </nav>
	</div>
	<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s10 offset-s1 center">
          <h3><b>Legalização do Societário</b></h3>
          <p class="left-align light">Este serviço se trata na abertura de empresas e fazer qualquer alteração necessária, servindo para todos os procedimentos de âmbito empresarial, tais como, Contrato ou Estatuto Social, Inscrições Estaduais e Municipais e Registros no CNPJ. Sendo a nossa missão auxiliar os clientes para desenvolver uma análise da viabilidade do seu negócio e um planejamento tributário para o mesmo.</p>
        </div>
      </div>
    </div>
  </div>
	<div class="row" style="background-color: #f5f5f5;">
		<div class="col s12 m6">
			<img class="center-block" src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-11/512/cash-icon.png" style="max-width: 100%; max-height: 20em; ">
		</div>
		<div class="col s12 m6">
			<img class="center-block" src="http://timepayment.com/wp-content/uploads/2014/09/TimePayment-offers-more-than-just-Microticket-Equipment-Financing.png" style="max-width: 100%; max-height: 20em; ">
		</div>
	</div>
	<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Como é feito:</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section" style="background-color: #f5f5f5; padding: 3em;">
    <div class="row">
      <div class="col s6 m5 center">
        <img src="http://static2.businessinsider.com/image/52d038bbecad04090c4229cd/using-these-13-words-will-help-salespeople-close-deals-faster-and-make-tons-of-money.jpg" style="max-width: 100%">
      </div>
      <div class="col s6 m7 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>O que é:</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>
  </div>
</section>

<style type="text/css">
	.breadcrumb {
		color: #0d47a1;
	}
	.breadcrumb:last-child {
		color: #1565c0;
	}
	.breadcrumb a+a:before {
		color: #ffffff;
		padding: 8px;
		content: "/\00a0";
	}
	nav.white-nav {
		background-color: #ffffff !important;
	}
</style>

<!-- <style>
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
</style> -->