  <div class="col l2 menu-sistema-incise">
		<nav>
			<div class="nav-wrapper">
				<div id="big-nav">
					<ul class="hide-on-med-and-down">
					  <li>
					  	<a class="ajax-load" href="/sistema/"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>
					  </li>
					  <li>
					  	<a class="ajax-load" href="/sistema/empresas"><i class="fa fa-industry" aria-hidden="true"></i> Empresas</a>
					  	<ul class="sub-menu">
					  		<li>
					  			<a class="ajax-load" href="/sistema/empresas/cadastrar">
					  				Criar Empresa
					  			</a>
					  		</li>
					  	</ul>
					  </li>
					  <li>
					  	<a class="ajax-load" href="/sistema/pagamentos"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Pagamentos</a>
					  	<ul class="sub-menu">
					  		<li>
					  			<a class="ajax-load" href="/sistema/pagamentos/cadastrar">
					  				Criar Pagamento
					  			</a>
					  		</li>
					  	</ul>
					  </li>
					  <li>
					  	<a class="ajax-load" href="/sistema/usuarios"><i class="fa fa-user" aria-hidden="true"></i> Usuários</a>
					  	<ul class="sub-menu">
					  		<li>
					  			<a class="ajax-load" href="/sistema/usuarios/cadastrar">
					  				Criar Usuários
					  			</a>
					  		</li>
					  	</ul>
					  </li>
				<!-- 	  <li>
					  	<a class="ajax-load" href="/sistema/configuracoes"><i class="fa fa-cogs" aria-hidden="true"></i> Configurações</a>
					  </li> -->
					  <li>
					  	<a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Sair</a>
					  </li>
					</ul>
				</div>
			</div>
		</nav>
	</div>