<section class="empresa">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h3>Incise</h3>
				<p>A nossa empresa esta no mercado a 17 anos, e nesses anos nosso maior objetivo e preocupação é com o cliente, com trabalho diferenciado, rápido e confiável. Com profissionais capacitados com mais de 20 anos de experiência.</p>
				<p>"A persistência por transformação, inovação e qualidade", é o nosso principal objetivo de trabalho, proporcionando informações seguras e em tempo hábil.
				Realizando nossos sonhos de conquista de novos método, tecnologias voltada para a informação tornou-se nossa fundamental importância das atividades desenvolvidas e nos permitindo proporcionar aos nossos clientes confiança em nossas atividades propostas, assim como as exigências impostas pelo fisco.</p>
			</div>
		</div>
<!-- 		<h3>Colaboradoras</h3>
		<div class="row">
			<div class="col s12 m4 funcionaria">
				<img src="" class="circle"></img>
				<div class="nome-funcionaria">Beatriz</div>
			</div>
			<div class="col s12 m4 funcionaria">
				<img src="" class="circle"></img>
				<div class="nome-funcionaria">Michelle</div>
			</div>
			<div class="col s12 m4 funcionaria">
				<img src="" class="circle"></img>
				<div class="nome-funcionaria">Janete</div>
			</div>
			<div class="col s12 m4 funcionaria">
				<img src="" class="circle"></img>
				<div class="nome-funcionaria">Vanessa</div>
			</div>
		</div> -->
	</div>
</section>