	<section>
		<input type="hidden" id="ajax-carousel" value="0">
		<div class="carousel carousel-slider hide-on-small-only">
			<div class="carousel-container">
				<a class="carousel-item"><img src="/assets/imgs/slider01.jpg" /></a>
				<a class="carousel-item"><img src="/assets/imgs/slider02.jpg" /></a>
				<a class="carousel-item"><img src="/assets/imgs/slider03.jpg" /></a>
			</div>
		</div>

		<div class="servicos-carousel-container center hide-on-small-only">
			<div class="servicos-carousel-serv-titulo">Nossos Serviços</div>
			<div class="servicos-carousel-item col s6 m4">
				<div class="circle">
					<a class="servicos-carousel-img i-societario" href="/servicos"></a>
				</div>
				<div class="servicos-carousel-titulo">Legalização do Societário</div>
			</div>
			<div class="servicos-carousel-item col s6 m4">
				<div class="circle">
					<a class="servicos-carousel-img i-regularizacoes" href="/servicos"></a>
				</div>
				<div class="servicos-carousel-titulo">Regularizações</div>
			</div>
			<div class="servicos-carousel-item col s6 m4">
				<div class="circle">
					<a class="servicos-carousel-img i-contabil" href="/servicos"></a>
				</div>
				<div class="servicos-carousel-titulo">Contábil</div>
			</div>
			<div class="servicos-carousel-item col s6 m4">
				<div class="circle">
					<a class="servicos-carousel-img i-fiscal" href="/servicos"></a>
				</div>
				<div class="servicos-carousel-titulo">Fiscal</div>
			</div>
			<div class="servicos-carousel-item col s6 m4">
				<div class="circle">
					<a class="servicos-carousel-img i-trabalhista" href="/servicos"></a>
				</div>
				<div class="servicos-carousel-titulo">Trabalhista e Social</div>
			</div>
			<div class="servicos-carousel-item col s6 m4">
				<div class="circle">
					<a class="servicos-carousel-img i-imposto" href="/servicos"></a>
				</div>
				<div class="servicos-carousel-titulo">Imposto de Renda</div>
			</div>
			<div class="servicos-carousel-item col s6 m4">
				<div class="circle">
					<a class="servicos-carousel-img i-controladoria2" href="/servicos"></a>
				</div>
				<div class="servicos-carousel-titulo">Controladoria</div>
			</div>
			<div class="servicos-carousel-item col s6 m4">
				<div class="circle">
					<a class="servicos-carousel-img i-juridica" href="/servicos"></a>
				</div>
				<div class="servicos-carousel-titulo">Assessoria Jurídica</div>
			</div>
			<div class="servicos-carousel-item col s6 m4">
				<div class="circle">
					<a class="servicos-carousel-img i-outros" href="/servicos"></a>
				</div>
				<div class="servicos-carousel-titulo">Outros Serviços</div>
			</div>

		</div>
		<div class="ebook-venda">
				<div class="ebook-titulo">Deseja receber um E-Book sobre Financiamento?</div>
				<form method="POST" action="" enctype="multipart/form-data">
					<input type="text" placeholder="seu@email.com.br" class="not_me" name="email"></input>	
					<button data-href="/site/enviarebook/" data-action="/" class="btn waves-effect waves-light ajax-submit">Donwload</button>				
				</form>
		</div>
	</section>
	<section class="descricao">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<div class="titulo-descricao">Incise</div>
					<p>A nossa empresa esta no mercado a 17 anos, e nesses anos nosso maior objetivo e preocupação é com o cliente, com trabalho diferenciado, rápido e confiável. Com profissionais capacitados com mais de 20 anos de experiência.</p>
					<p>"A persistência por transformação, inovação e qualidade", é o nosso principal objetivo de trabalho, proporcionando informações seguras e em tempo hábil.
					Realizando nossos sonhos de conquista de novos método, tecnologias voltada para a informação tornou-se nossa fundamental importância das atividades desenvolvidas e nos permitindo proporcionar aos nossos clientes confiança em nossas atividades propostas, assim como as exigências impostas pelo fisco.</p>
				</div>
			</div>

			<div class="row">
				<div class="col s12 m4">
					<div id="circulo1" class="circulo-contador">
						<div class="contador-titulo hide">40+</div>
						<span>Clientes Satisfeitos</span>
					</div>
				</div>

				<div class="col s12 m4">
					<div id="circulo2" class="circulo-contador">
						<div class="contador-titulo hide">10.000+</div>
						<span>Ações Realizadas</span>
					</div>					
				</div>


				<div class="col s12 m4">
					<div id="circulo3" class="circulo-contador">
						<div class="contador-titulo hide">800+</div>
						<span>Funcionários Felizes</span>
					</div>
				</div>

			</div>

		</div>

	</section>

<!-- 	<section class="redes-sociais">
		<div class="container">
			<div class="row">
				<div class="col s12 m4">
					<div class="agenda">
							<div class="agenda-titulo">Agenda Tributária</div>
							<table>
								<thead>
									<tr>
										<td>Descrição</td>
										<td>Data de vencimento</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>DOI - Declaração sobre Operações Imobiliárias</td>
										<td>29/12</td>
									</tr>
								</tbody>
							</table>

					</div>

				</div>
				<div class="col s12 m4">
					
				</div>
				<div class="col s12 m4">
						
				</div>
			</div>
	</div>
	</section> -->


	<section id="contato_parallax">
		<div class="parallax-container">
	    	<div class="parallax">
	    		<img src="/assets/imgs/paralax01.jpg">
	    	</div>
	    	<div id="testimonial-slider" class="testimonial_slider">
			 <!--    <div class="slide">
			      <div class="quote"></div>
			      <div class="author"></div>
			      <div class="company"></div> -->
			    </div>
  			</div>
	   </div>
	</section>

	<section class="contato">
		<div class="container">
			<div class="row">
					<div class="col s12 m5 contato_container contato_dados">
						<h5>Quer agendar uma visita sem custo?</h5>
						<h5>Converse com um consultor!</h5><br/>
						<div class="btn">Desejo falar com um consultor!</div><br/><br/>
						<p>Mas, se preferir pode enviar um email para contato@incise.com.br</p>
						<p><i class="fa fa-phone-square" aria-hidden="true"></i>Ligue para (51) 3191-8055</p>
						<p>Também pode entrar em contato pelas nossas redes sociais!</p>
						<p><i class="fa fa-facebook-square" aria-hidden="true"></i>Facebook:<a href="https://www.facebook.com/INCISE-1988578421378764/" target="_blank"> Incise</a></p>
						<p><i class="fa fa-twitter-square" aria-hidden="true"></i>Twitter:<a href="" target="_blank">@incise</p></a>
						<p><i class="fa fa-linkedin-square" aria-hidden="true"></i>Linkedin:<a href="https://www.linkedin.com/in/incise-consultoria-e-contabilidade-online-15019a153/" target="_blank"> /incise</a></p>
							

					</div>
					<div class="col s12 m6 offset-m1 contato_container contato_form">
						<p>Entre em contato com a gente para quaisquer dúvida ou sugestão.</p>
						<form method="POST" action="" enctype="multipart/form-data">
							<div class="row">
								<div class="input-field col s12 m6">
									<input id="nome" type="text" class="validate not_me" name="nome">
									<label for="nome">Nome</label>
								</div>
								<div class="input-field col s12 m6">
									<input id="email" type="text" class="validate not_me" name="email">
									<label for="email">Email</label>
								</div>
								<div class="input-field col s12 m6">
									<input id="telefone" type="text" class="not_me" name="telefone">
									<label for="telefone">Telefone</label>
								</div>
								<div class="input-field col s12 m6">
									<input id="assunto" type="text" class="validate not_me" name="assunto">
									<label for="assunto">Assunto</label>
								</div>
								<div class="input-field col s12">
									<textarea id="descricao_assunto" class="materialize-textarea not_me" name="descricao"></textarea>
          				<label for="descricao">Descrição</label>
								</div>
							</div>
							<button data-href="/site/enviarcontato/" data-action="/" class="btn waves-effect waves-light ajax-submit">Enviar</button>
							<!-- data-href="/sistema/usuarios/cadastrar/" <button class="btn">Enviar</button> -->
						</form>
					</div>
			</div>
		</div>
	</section>
  

	<section class="sistema">
		<div class="container">
			<div class="row">
				<div class="col s12 m4">
					<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FINCISE-1988578421378764%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
				</div>
				<div class="col s12 m4">
					<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
					<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/incise-consultoria-e-contabilidade-online-15019a153/" data-format="inline" data-related="false"></script>
				</div>

				<div class="col s12 m4">
					<h5>Faça uma visita</h5>
					<p>Avenida SAP, 151 - Cristo Rei, São Leopoldo - RS, 93022-718</p>
					<iframe class="mapa-empresa"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3462.3238495922196!2d-51.151331684330124!3d-29.797186981972896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjnCsDQ3JzQ5LjkiUyA1McKwMDgnNTYuOSJX!5e0!3m2!1spt-BR!2sbr!4v1511795956641" frameborder="0"  allowfullscreen></iframe>				
				</div>
			</div>
		</div>
	</section>

	<section class="vagas-emprego">
			<div class="parallax-container emprego-parallax">
	    	<div class="parallax">
	    		<img src="/assets/imgs/paralax02.jpg">
	    	</div>
	    	<div class="vaga-emprego-container">
	    		<div class="vaga-emprego-titulo">Está procurando uma vaga de emprego?</div>
	    		<div class="vaga-emprego-subtitulo">Envie seu currículo que disponibilizaremos para as empresas.</div>
<!-- 	    		<div class="vaga-emprego-subtitulo">Porque estamos contratando, preencha o formulário e não esqueça de enviar seu currículo.</div> -->
	    		<div class="container">
		    		<div class="vaga-emprego-form">
		    			<form method="POST" action="" enctype="multipart/form-data">
		    				<div class="row">
		    					<div class="input-field col s12 m4">
										<input id="nome" type="text" class="validate not_me" name="nome">
										<label for="nome">Nome</label>
									</div>
									<div class="input-field col s12 m4">
										<input id="email" type="text" class="validate not_me" name="email">
										<label for="email">Email</label>
									</div>
									<div class="input-field col s12 m4">
										<input id="telefone" class="validate not_me" type="text" name="telefone">
										<label for="telefone">Telefone</label>
									</div>

										<div class="input-field col s12 m6">
										<input id="emprego" class="not_me" type="text" name="emprego">
										<label for="emprego">Último Emprego</label>
									</div>
										<div class="input-field col s12 m6">
										<input id="funcao" class="not_me" type="text" name="funcao">
										<label for="funcao">Função</label>
									</div>

									<div class="col s12 m6">
										<label>Candidatar-se</label>									
										<p>
	      							<input type="checkbox" class="filled-in not_me" id="test5" name="contador" />
	    	 						 	<label for="test5">Contador</label>
	    							</p>
	    							<p>
	      							<input type="checkbox" class="filled-in not_me" id="test4" name="financeiro" />
	      							<label for="test4">Financeiro</label>
	   								</p>
									</div>			

									<div class="input-field col s12 m6">
										<input id="telefone" type="number" class="not_me" name="pretensao_salarial">
										<label for="pretensao_salarial" step="0.01" placeholder="R$">Pretensão Salarial</label>
									</div>
									<div class="input-field col s12">
										<textarea id="descricao_assunto" class="materialize-textarea not_me" name="descricao"></textarea>
	          				<label for="descricao">Descrição</label>
									</div>
									<div class="file-field col s12 input-field">
							      <div class="btn waves-effect curriculo-button anexo-container">
							        <span>Currículo</span>
							        <input type="file" class="anexo-input not_me" name="arquivo" data-href="/site/uploadarquivo/" accept="image/*,.doc,.docx,.pdf" >
							      </div>
							    </div>
							    <div style="margin-top:10px;" class="col s12"><button data-href="/site/enviarcurriculo/" data-action="/" class="btn waves-effect waves-light ajax-submit">Enviar</button></div>
							    
								</div>
							</form>
	    			</div>
	    		</div>
	    	</div>
  	</div>
	</section>