<h5>Comprovantes</h5>
<div class="card-panel grey lighten-4 relative">
	<%
	if (typeof data != 'undefined' && data.length > 0) {
		if(data[0].arquivo != null){
			%>
			<div class="comprovante-nome">
				<%= data[0].arquivo%>
			</div>
			<div class="ar comprovante-download valign-wrapper">
				<a class="btn-floating btn waves-effect waves-light blue tooltipped" data-position="top" data-tooltip='Baixar' download href='/assets/files/documentos/<%= data[0].arquivo %>'><i class="fa fa-download" aria-hidden="true"></i></a>
			</div>
			<%
		} else {
			%>
			<div class="comprovante-nome-full">Cliente não enviou comprovante</div>
			<%
		}}
		%>
	</tbody>
</table>
</div>

<% if (typeof data != 'undefined' && data.length > 0) {
	if(data[0].motivo_recusar != null){ %>
	<h5>Motivo da recusão:</h5>
	<div class="card-panel">
		<%= data[0].motivo_recusar %>
	</div>
	<% }} %>